<!doctype html>
<html>
<head>
	<title>enyo Simple View Layout</title>
	<script src="../../../../../0.9/framework/enyo.js" type="text/javascript"></script>
</head>
<body>
<div id="view0">
	I am some basic view content in a green box.<br/>
	<br/>
	I use normal flow, so my size fits my content, but I am styled with big padding to cause overflow.<br/>
	<br />
	The application has put me in a scroller explicitly.
</div>
<script type="text/javascript">
	new enyo.Canon.Layout().renderInto(document.body);
</script>
</body>
</html>
