/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.layout {
	background-color: gray;
}

.view0 {
	border: 6px solid green;
	padding-bottom: 1400px;
	background: #eeeeee url(hash.png);
}
