/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-appmenu {
	z-index: 120;
	position: fixed;
	font-size: 18px;
	border-width: 12px 24px 20px 24px;
	-webkit-border-image: url(../images/appmenu.png) 12 24 20 24 stretch stretch;
	color: white;
	top: 0px;
	left: -10px;
	min-width: 210px;
}

.enyo-appmenu-inner {
	margin: -12px -14px 0 -13px;
}


.enyo-appmenu-item.enyo-item {
	-webkit-border-image: url(../images/appmenu-divider.png) 0 0 2 0 stretch;
	border-bottom: 2px;
	margin-right: -3px;
	margin-left: -5px;
}

.enyo-appmenu-item.enyo-item.enyo-menu-last {
	border-bottom: 0;
}
