/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-header {
	-webkit-border-image: url(../images/header.png) 1 0;
	-webkit-box-sizing: border-box;
	min-height: 50px;
	border-width: 1px 0;
	background-color: #ccc;
	/*
		Note: shadow is problematic if we support background colors.
		Afaict, has to be done with a separate div or webkit-box-shadow; (unsupported on device)
	*/
	/*
	-webkit-box-shadow: 0 0 4px #888;
	*/
}

.enyo-header-inner {
	padding: 13px 12px;
	min-height: 52px;
}

.enyo-header-icon {
	padding-right: 10px;
}