/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-slider-button {
	height: 40px;
	width: 40px;
	z-index: 50;
	background: url(../images/slider-handle.png) left top no-repeat;
	position: absolute;
	margin: -14px -20px;
}

.enyo-slider-button.enyo-button-down {
	background-position-y: -40px;
}

.enyo-slider {
	/* 
	FIXME: why in the heck does this work to properly position the progress
	div inside this one?
	*/
	padding: 1px 0;
	position:relative;
}

.enyo-slider-progress {
	height: 10px;
	border-width: 0px 4px;
	-webkit-border-image: url(../images/slider-track.png) 0 4 0 4 repeat repeat;
	margin: 20px 0px;
	position:relative;
}

.enyo-slider-inner {
	margin: 0 -4px;
}