/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
html {
	width: 100%;
	position: relative;
}

body {
	position: relative;
	background-color: #d8d8d8;
	color: #333;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

html, body, input, button {
	font-family: Prelude, Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	cursor: default;
}

.enyo-bg {
	background-color: #d8d8d8;
}

.enyo-text-filter-highlight {
	background: url(../images/filter-highlight.png) bottom left repeat-x;
}

.enyo-text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.enyo-label {
	color: #1879cd;
	font-size: .7rem;
	text-transform: uppercase;
}

.enyo-text-header {
	font-size: 1rem;
}

.enyo-text-subheader {
	font-size: .9rem;
}
.enyo-text-body,
.enyo-paragraph,
.enyo-item-secondary {
	font-size: .8rem;
}

.enyo-paragraph {
	margin: .5em 0;
}

.enyo-item-ternary,
.enyo-subtext {
	font-size: .7rem;
	color: #828282;
}

.enyo-footnote {
	font-size: .8rem;
	color: #666;
}

.enyo-text-error {
	font-size: .7rem;
	color: #d70000;
}

/* Preferences Styles */

.enyo-preferences-box {
	width: 500px;
	margin: 23px auto 0;
}

.enyo-preference-button {
	width: 290px;
}