/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-toggle-button {
	min-width: 36px;
	height: 30px;
	line-height: 26px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.enyo-toggle-button.on {
	border-width: 0px 30px 0px 7px;
	-webkit-border-image: url(../images/toggle-button.png) 1 30 97 7 repeat repeat;
}

.enyo-toggle-button.off {
	border-width: 0px 7px 0px 30px;
	-webkit-border-image: url(../images/toggle-button.png) 33 7 65 30 repeat repeat;
}

.enyo-toggle-button.disabled.on {
	border-width: 0px 30px 0px 7px;
	-webkit-border-image: url(../images/toggle-button.png) 65 30 33 7 repeat repeat;
}

.enyo-toggle-button.disabled.off {
	border-width: 0px 7px 0px 30px;
	-webkit-border-image: url(../images/toggle-button.png) 97 7 1 30 repeat repeat;
}

.enyo-toggle-label-off, .enyo-toggle-label-on {
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.enyo-toggle-label-off {
	padding-left: 4px;
	padding-right: 2px;
}

.enyo-toggle-label-on {
	padding-right: 4px;
	padding-left: 2px;
}
