/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-virtual-scroller {
	overflow: hidden;
	position: relative;
}

.enyo-accel-children > * {
	-webkit-transform-style: preserve-3d;
}