/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.list {
	background-color: white;
}

.item {
	padding: 12px;
	border: none;
}

.item-color {
	border: 1px solid black;
	width: 24px;
	margin-right: 8px;
}

.item-index {
	width: 64px;
	text-align: right;
}

.item-subject {
	color: #6060B0;
	font-style: italic;
	padding: 12px 0px 4px;
}