<!doctype html>
<html>
<head>
	<title>enyo Simple Pane Layout</title>
	<script src="../../../../../0.9/framework/enyo.js" type="text/javascript"></script>
</head>
<body>
<div id="view0">
	View 0 (click or touch to cycle views).<br/>
	<br/>
	I'm a basic view (green box).<br/>
	<br/>
	I use normal flow, so my size fits my content, but I am styled with big padding to cause overflow.<br/>
	<br />
	The application has put me in a scroller.<br />
	<br />
	The background comes from the Pane so it does not scroll with me.
</div>
<div id="view1">
	View 1 (click or touch to cycle views).<br/>
	<br/>
	I'm also a basic view (blue box).<br/>
	<br/>
	I use normal flow, so my size fits my content, but I am styled with big padding to cause overflow.<br/>
	<br />
	The application has put me in a scroller.<br />
	<br />
	I have my own background so it scrolls with me.
</div>
<div id="view2">
	View 2 (click or touch to cycle views).<br/>
	<br/>
	I'm the last basic view (magenta box).<br/>
	<br/>
	I use normal flow, so my size fits my content, but I am styled with big padding to cause overflow.<br/>
	<br />
	The application has put me in a scroller with a custom background.<br />
	<br />
	I have my own background so it scrolls with me.
</div>
<script type="text/javascript">
	new enyo.Canon.Layout().renderInto(document.body);
</script>
</body>
</html>
