/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-accept-drag {
	background-color: lightblue;
}

.app-avatar {
	pointer-events: none;
	position: absolute;
}