body {
	font-family: Verdana;
	font-size: 12px;
	background: #FEFEFE;
	margin: 2em;
	padding: 0;
	color: #444;
	max-width: 60em;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
	color: black;
}

p, ul {
	max-width: 40em;
	line-height: 1.4em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, tbody {
	font-size: inherit;
}

td, th {
	border: 1px solid #444;
	padding: 0.5em 1em;
}

th {
	color: black;
	background: #CCC;
}