/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
html {
	width: 100%;
	position: relative;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body, input, button {
	font-family: Prelude, Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	cursor: default;
}

body {
	position: relative;
}

body, .background {
	background-color: #e4e4e2;
}
