/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.layout {
	background: #dddddd url(hash.png);
}

.text {
	padding: 8px;
	background: white;
	border: 3px solid lightblue;
}

.view0 {
	border: 6px solid green;
}

.view0-content {
	border: 3px solid lightgreen;
	padding-bottom: 1400px;
}

.view1 {
	border: 6px solid blue;
	padding-bottom: 1400px;
	background: white url(hatch.png);
}

.view2 {
	border: 6px solid magenta;
	padding-bottom: 1400px;
	background: white url(hatch.png);
}

.view2-scroller {
	background-color: Gray;
}