/* Entries */
.timeline.list .entry .avatar {
	padding-right: 10px;
	/*-webkit-border-radius: 5px;*/
}
.timeline.list .entry .username {
	font-weight: bold;
}
.timeline.list .entry .text {
	font-size: 15px;
}
a,
.link,
.timeline.list .entry .action {
	color: #2D76B9;
}
.timeline.list .entry .small {
	color: #969696;
	padding-top: 2px;
	font-size: 11px;
}
a:active,
.link:active,
.username:active,
.timeline.list .entry .time:active,
.timeline.list .entry .action:active {
	text-decoration: underline;
}
.timeline.list .entry .action-separator {
	width: 12px;
}



.entry-view {
	

}
.entry-view .header {
	padding: 10px;
}
.entry-view .username,
.entry-view .realname {
	padding-left: 10px;
}
.entry-view .realname {
	font-weight: bold;
	font-size: 30px;
}

.entry-view .small {
	/*padding-top: 2px;*/
	font-size: 11px;
}


/* for vertical toolbar */
.enyo-toolbar-vertical {
    /* needed to host a GrabButton, which is position: absolute */
    position: relative;
    min-height: 54px;
    -webkit-box-sizing: border-box;
    -webkit-border-image: url(source/images/toolbar.png) 1 1 repeat stretch;
    border-width: 1px 1px;
    background-color: #343434;
}
