/* global */
truncating-text {
	text-overflow: ellipsis;
}
body, input, button {
	font-size: 20px;
}

a,
.username,
.hashtag,
.link {
	color: #2D76B9;
}
.timeline.list .entry .small {
	color: #969696;
	padding-top: 2px;
	font-size: 11px;
}
a:active,
.hashtag:active,
.link:active,
.username:active {
	text-decoration: underline;
}


/* Entries */
.timeline.list .entry .avatar {
	padding-right: 10px;
	/*-webkit-border-radius: 5px;*/
}
.timeline.list .entry .username.author {
	font-weight: bold;
	color: black;
}
.timeline.list .entry .text {
	font-size: 14px;
}
.timeline.list .entry .action-separator {
	width: 12px;
}


/* fixes padding */
.enyo-header-inner {
	padding: 0px 5px 0px 0px;
}

.entry-view {
	

}
.entry-view .header {
	padding: 5px 10px 10px 10px;
}
.entry-view .username,
.entry-view .realname {
	padding-left: 10px;
}
.entry-view .realname {
	font-weight: bold;
	font-size: 20px;

}

.entry-view .small {
	/*padding-top: 2px;*/
	font-size: 11px;
}


/* for vertical toolbar */
.enyo-toolbar-vertical {
    /* needed to host a GrabButton, which is position: absolute */
    position: relative;
    min-height: 54px;
    -webkit-box-sizing: border-box;
    -webkit-border-image: url(source/images/toolbar.png) 1 1 repeat stretch;
    border-width: 1px 1px;
    background-color: #343434;
}

/* Columns Popup */
.accountSelection .enyo-menucheckitem-caption {
	padding-right: 0px;
}