/* global */
.truncating-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
body, input, button {
	font-size: 20px;
}

a,
.username,
.hashtag,
.link,
.clickable {
	color: #2D76B9;
}

a:active,
.hashtag:active,
.link:active,
.username:active,
.underlineOnClick:active,
.clickable:active {
	text-decoration: underline;
}



/* all avatars */
.avatar, .small-avatar {
	-webkit-border-radius: 5px;
}


/* Entries */
.entry .avatar {
	margin-right: 10px;
}
.entry .small-avatar {
	position: absolute;
	margin-left: -30px;
	margin-top: 30px;
	/*right: 28px;
	top: 8px;*/
	/*display: ;*/
}
.entry .username.author {
	font-weight: bold;
	color: black;
}
.entry .text {
	font-size: 13px;
	padding-right: 2px;
}
.entry .action-separator {
	width: 12px;
}
.entry .small {
	color: #969696;
	padding-top: 2px;
	font-size: 11px;
}

.entry.read .entrytext {
	color:#666666;
}
.entry.read .author, .entry.read .recipient, .entry.read .entryHeaderIcon {
	color:#666666;
}



/* fixes padding */
.enyo-header-inner {
	padding: 0px 5px 0px 0px;
}

.viewManagement {
	min-height: 30px;
	height: 30px;
	padding-left: 2px;
}

.entry-view .repost-outer {
	text-align: center;
	padding-bottom: 8px;
}
.entry-view .repost {
	font-size: 14px;
	text-align: center;
	background-color: rgba(255, 255, 255, .4);
	-webkit-border-radius: 10px;
	padding: 3px 10px;

}
.entry-view .header,
.user-view .header {
	padding: 5px 10px 10px 10px;
}
.entry-view .author-realname,
.user-view .author-realname {
	font-weight: bold;
	font-size: 20px;
}

.entry-view .message {
	font-size: 18px;
	overflow:hidden;
}
	.entry-view .message a[href] {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display:inline-block;
		max-width:80%;
	}


.entry-view .small,
.user-view .small {
	/*padding-top: 2px;*/
	font-size: 11px;
}


/* for vertical toolbar */
.enyo-toolbar-vertical {
    /* needed to host a GrabButton, which is position: absolute */
    position: relative;
    min-height: 54px;
    -webkit-box-sizing: border-box;
    -webkit-border-image: "none";
   /* -webkit-border-image: url(../images/toolbar.png) 1 1 repeat stretch;*/
    border-width: 1px 1px;
    background-color: #343434;
}

/* Columns Popup */
.accountSelection .enyo-menucheckitem-caption {
	padding-right: 0px;
}

/* Spinning animation while the column is reloading */
@-webkit-keyframes spinning {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}

.spinning {
	-webkit-animation-name: spinning;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.enyo-button-number {
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	height: 32px;
	margin: -6px -6px -10px -6px;
}
.enyo-tool-button {
	padding: 1px 0px 1px 0px;
}

/* for user/entry view */
#spaz_entryview,
#spaz_userview {
    position: relative;
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
}

.enyo-imageviewpopup {
	min-width: 300px;
	z-index: 120;
	position: fixed;
	left: 0px;
	top: 0px;
}

/* fixes for our css */

.enyo-item.enyo-menuitem.enyo-listselector-item.enyo-menucheckitem-caption {
	font-size: 16px;
	padding-top: 2px;
	height: 24px;
}
.enyo-popup.enyo-popup-float {
	overflow: visible !important; /* this gets set inline so we need to add !important.*/
}

.enyo-button-disabled {
	opacity: 0.4;
	/*color: rgba(255,254,255,0.4);*/
}


#aboutContentMain {
	margin-right:170px;
}

#teamMembersContent {
	width:150px;
	float:right;
	padding-left:10px;
	font-size:90%;
}

#teamMembersContent h2 {
	margin-top:0;
}

#teamMembersContent ul {
	margin:0;
	padding:0;
}
#teamMembersContent ul li {
	list-style:none;
	margin-bottom:5px;
}
