/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
body {
	font-family: Prelude, Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
	font-size: 14pt;
	cursor: default;
	background-color: #e4e4e2;
	-webkit-user-select: none;
}

.box {
	border: 1px solid gray;
	padding: 4px;
}