/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.button-bar {
	border: 1px solid gray; 
	padding: 16px; 
	color: black; 
	background-color: #EEEEEE;
}

.button {
	background-color: #FFF;
	padding: 4px;
	border: 2px solid #000;
	-webkit-border-radius: 14px;
	margin: 4px 8px 4px -8px;
}

.view {
	margin: 32px;
	margin-right: 16px;
	border: 1px solid silver;
}

.source {
	margin: 32px;
	margin-left: 16px;
	border: 1px solid silver;
	font-size: 10pt;
	white-space: pre;
	overflow: scroll;
	background-color: white;
}

