/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.transitioner {
	-webkit-transform: scale(2);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 0.3s;
}

.scaleFadeIn {
	-webkit-transform: scale(1);
	opacity: 1;
}

.fastAnimate {
	-webkit-transform-style: preserve-3d;
}


.transitioner2 {
	-webkit-transform: rotate(0deg) scale(0);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 1s, 1s;
}

.rotateFadeIn {
	-webkit-transform: rotate(360deg) scale(1);
	opacity: 1;
}