/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-pane {
	-webkit-box-sizing: border-box;
	position: relative;
}

.enyo-view {
	position: absolute !important;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	-webkit-box-sizing: border-box;
}
