/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-scroller {
	overflow: hidden;
	position: relative;
}

.enyo-scroller-client {
}

.enyo-scroller-scrollee {
	-webkit-box-sizing: border-box;
	min-height: 100%;
	position: relative;
}

.enyo-scroller-fps {
	z-index: 2;
	font-size: 9px;
	position: absolute;
	top: 8px;
	right: 8px;
	pointer-events: none;
}