<!doctype html>
<html>
<head>
	<title>enyo Layout Stress Test</title>
	<script src="../../../../../0.9/framework/enyo.js" type="text/javascript"></script>
</head>
<body>
<div id="expando0">
	I am content in a view in a pane that expands to fit content.<br />
	The next view has less text and the entire pane should be shorter.<br />
	Click to cycle views.
</div>
<div id="expando1">
	I am content in a view in a pane that expands to fit content. The first view has more text and the entire pane should be taller. Click to cycle views.
</div>
<div id="view1">
	View 1 (click or touch to cycle views).<br/>
	<br/>
	I'm a simple Scrolling view.<br />
	<br />
	I own the silver-hash background, and it scrolls with me. When I overscroll, Scroller's background is revealed.<br />
	<br />
	I have natural height (driven by my content), but will always be at least tall enough to fit my parent.
</div>
<div id="view2">
	View 2 (click or touch to cycle views).<br/>
	<br/>
	I'm a simple Scrolling view.<br />
	<br />
	I own the silver-hash background, and it scrolls with me. When I overscroll, Scroller's background is revealed.<br />
	<br />
	I have natural height (driven by my content), but will always be at least tall enough to fit my parent.<br />
	<br />
	My content has an explicit height that makes me quite tall (2048px) and I should be scrollable.
</div>
<div id="view3">
	View 3 (click or touch to cycle views).<br/>
	<br/>
	The magenta box borders a view that is not a Scroller; instead, it is a VFlexBox.<br />
	<br />
	The VFlexBox owns a Header and a flexed client area. The client area is an HFlexBox with Left and Right banners and a flexed area, which is a Scroller.<br />
	<br />
	My content (this text) has natural height (driven by content), but it will always be at least tall enough to fit the Scroller.<br />
	<br />
	I own the silver-hash background, and it scrolls with me. When I overscroll, Scroller's background is revealed.<br />
</div>
<div id="view4">
	View 4 (click or touch to cycle views).<br/>
	<br/>
	My view is an HFlexBox.<br/>
	<br/>
	I'm inside a Scroller, which is inside the view. The Scroller has flex (proportional) sizing.<br />
	<br />
	I have large explicit width (2048px) and should be <b>horizontally</b> scrollable.
</div>
<script type="text/javascript">
	new enyo.Canon.Layout().renderInto(document.body);
</script>
</body>
</html>
