/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
div {
	-webkit-box-sizing: border-box;
}

.fit {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
}

.hash {
	background: #EEEEEE url(hash.png);
}

.expando {
	background: white;
	border: 6px solid lightblue;
}

.view0 {
	border: 6px solid green;
}

.view1 {
	border: 6px solid green;
}

.view2 {
	border: 6px solid blue;
	height: 2048px;
}

.view3 {
	border: 6px solid magenta;
}

.view3-left {
	border: 4px solid lightgreen;
	background-color: white;
}

.view3-header {
	border: 4px solid blue;
	background-color: white;
}

.view3-content {
	border: 4px solid red;
}

.view4 {
	border: 6px solid green;
}

.view4-content {
	border: 4px solid magenta;
	width: 2048px;
}

.min {
	min-height: 100%;
}

.gray {
	background-color: Gray;
}

.white {
	background-color: white;
}

.text {
	padding: 8px;
	border: 3px solid orange;
}