/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-group {
	border-width: 14px 14px 14px 14px;
	-webkit-border-image: url(../images/group.png) 14 14;
	-moz-border-image: url(../images/group.png) 14 14;
	border-image: url(../images/group.png) 14 14;
	margin: 8px 0px;
}

.enyo-group-inner {
	margin: -12px -12px;
}

.enyo-row {
	border-bottom: 1px solid gray;
}

.enyo-group.labeled {
	border-width: 36px 14px 14px 14px;
	-webkit-border-image: url(../images/group-labeled.png) 36 14 14 14;
	-moz-border-image: url(../images/group-labeled.png) 36 14 14 14;
	border-image: url(../images/group-labeled.png) 36 14 14 14;
	margin: 8px 0px;
}

.enyo-group-label {
	margin: -34px -12px;
	padding: 2px 0 14px 12px;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	text-shadow: #646454 0px 1px 0px;
	font-weight: bold;
	height: 42px;
}