/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-radiogroup {
	white-space: nowrap;
	cursor: pointer;
}

.enyo-radiobutton, .enyo-tabbutton {
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-sizing: border-box;
	font-size: 14px;
	color: #555;
}

.enyo-radiobutton.enyo-middle,
.enyo-tabbutton.enyo-first, .enyo-tabbutton.enyo-middle,
.enyo-tabbutton.enyo-last {
	padding: 0px 13px 0px 14px;
	border-width: 0px 2px 0px 1px;
	-webkit-border-image: url(../images/radiobutton-heritage.png) 150 2 400 1;
}

.enyo-radiobutton.enyo-single, .enyo-tabbutton.enyo-single {
	padding: 0px 13px 0px 14px;
	border-width: 0px 15px 0px 15px;
	-webkit-border-image: url(../images/radiobutton-heritage.png) 450 15 100 15;
}

.enyo-radiobutton.enyo-first {
	padding: 0px 13px 0px 0px;
	border-width: 0px 2px 0px 15px;
	-webkit-border-image: url(../images/radiobutton-heritage.png) 0 2 550 15;
}

.enyo-radiobutton.enyo-last {
	padding: 0px 0px 0px 13px;
	border-width: 0px 15px 0px 1px;
	-webkit-border-image: url(../images/radiobutton-heritage.png) 300 15 250 1;
}

.enyo-radiobutton.enyo-button-disabled {
	color: Silver;
}

.enyo-radiobutton.enyo-button-depressed,
.enyo-radiobutton.enyo-button-down {
	color: white;
}

/* down */

.enyo-radiobutton.enyo-middle.enyo-button-depressed,
.enyo-radiobutton.enyo-middle.enyo-button-down,
.enyo-tabbutton.enyo-first.enyo-button-depressed,
.enyo-tabbutton.enyo-first.enyo-button-down,
.enyo-tabbutton.enyo-middle.enyo-button-depressed,
.enyo-tabbutton.enyo-middle.enyo-button-down,
.enyo-tabbutton.enyo-last.enyo-button-depressed,
.enyo-tabbutton.enyo-last.enyo-button-down {
	-webkit-border-image: url(../images/radiobutton-heritage.png) 200 2 350 1;
}

.enyo-radiobutton.enyo-single.enyo-button-depressed,
.enyo-radiobutton.enyo-single.enyo-button-down,
.enyo-tabbutton.enyo-single.enyo-button-depressed,
.enyo-tabbutton.enyo-single.enyo-button-down {
	-webkit-border-image: url(../images/radiobutton-heritage.png) 500 15 50 15;
}

.enyo-radiobutton.enyo-first.enyo-button-depressed,
.enyo-radiobutton.enyo-first.enyo-button-down {
	-webkit-border-image: url(../images/radiobutton-heritage.png) 50 2 500 15;
}

.enyo-radiobutton.enyo-last.enyo-button-depressed,
.enyo-radiobutton.enyo-last.enyo-button-down {
	-webkit-border-image: url(../images/radiobutton-heritage.png) 350 15 200 1;
}

/* disabled */

.enyo-radiobutton.enyo-middle.enyo-button-disabled,
.enyo-tabbutton.enyo-first.enyo-button-disabled,
.enyo-tabbutton.enyo-middle.enyo-button-disabled,
.enyo-tabbutton.enyo-last.enyo-button-disabled {
	-webkit-border-image: url(../images/radiobutton-heritage.png) 250 2 300 1;
}

.enyo-radiobutton.enyo-single.enyo-button-disabled,
.enyo-tabbutton.enyo-single.enyo-button-disabled {
	-webkit-border-image: url(../images/radiobutton-heritage.png) 550 15 0 15;
}

.enyo-radiobutton.enyo-first.enyo-button-disabled {
	-webkit-border-image: url(../images/radiobutton-heritage.png) 100 2 450 15;
}

.enyo-radiobutton.enyo-last.enyo-button-disabled {
	-webkit-border-image: url(../images/radiobutton-heritage.png) 400 15 150 1;
}
