/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
/*
	-webkit-user-select: none can cause a major 
	performance problem in webkit unless mousedown
	is prevented.
*/
body {
	-webkit-user-select: none;
	overflow: hidden;
}

/*
div, object, img, textarea, iframe {
	position: relative;
}

.enyo-bbox {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*/

.enyo-fit {
	position: absolute !important;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
