/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
html {
	position: relative;
}

body {
	background: #fff;
	Xfont: normal 100% "Georgia", "Palatino", "Times New Roman", "Times";
	line-height: 1.6;
	color: #383838;
	font-size: 15px;
	margin-top: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
}

.selectable {
	-webkit-user-select: text;
	cursor: text;
}

p {
	Xwhite-space: pre;
}

literal {
	color: #1D284C;
}

#left {
	position: absolute;
	padding: 0.5em;
	top: 0;
	left: 0;
	bottom: 0;
	width: 260px;
	overflow: scroll;
	overflow-x: hidden;
}

#main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 188px;
	left: 274px;
	overflow: scroll;
}

#bottom {
	position: absolute;
	padding: 0.5em;
	left: 274px;
	bottom: 0;
	right: 0;
	height: 180px;
	overflow: scroll;
	overflow-x: hidden;
}

.toc {
	Xfont-size: 70%;
	padding: 0px 10px 10px 10px;
	background: white;
	overflow: auto; 
}

#index {
	font-size: 70%;
}

#docs {
	max-width: 550px;
	margin: 0 auto;
}

#bottom h2, #left h2 {
	margin-top: 0;
	font-size: 90%;
}

ul {
	margin-top: 0px;
}